@model BudgetTracker.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create a new category</h1>

<div class="clearfix">
    <div class="float-end">
        <a asp-action="Index"><button class="btn btn-primary">Back to Categories</button></a>
        </div>
</div>   
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="widget p-5">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        <label asp-for="Icon" class="control-label"></label>
                        <input asp-for="Icon" class="form-control" />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="e-btn-group">
                        <input type="radio" id="radioleft" name="Type" value="Expense" checked="@(Model.Type=="Expense")" />
                        <label class="e-btn btn-secondary" for="radioleft">Expense</label>
                        <input type="radio" id="radioright" name="Type" value="Income" checked="@(Model.Type=="Income")" />
                        <label class="e-btn btn-secondary" for="radioright">Income</label>
                    </div>
                </div>

                <div class="mb-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
