@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BudgetTracker</h1>
    <h3>Developed by: Venjie Banks</h3>
    <h5>Click a button to get started!</h5>
    <br /><br />
    <div class="row">
        <div class="col-4">
            <button class="btn btn-primary homebtn">Dashboard</button>
        </div>
        <div class="col-4">
            <button class="btn btn-primary homebtn">Transactions</button>
        </div>
        <div class="col-4">
            <button class="btn btn-primary homebtn">Categories</button>
        </div>

    </div>

</div>
