@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BudgetTracker</h1>
    <h3>Developed by: Venjie Banks</h3>
    <h5>Click a button to get started!</h5>
    <br /><br />
    <div class="row">
        <div class="col-4">
            <form asp-action="Index" asp-controller="Dashboard">
                <button class="btn btn-primary homebtn">
                    <div class="d-flex flex-column justify-content-center p-5" style="color:black">
                        <i class="fa-solid fa-server fa-4x"></i>
                    </div>
                    <h5 style="color:black">Dashboard</h5>
                </button>
            </form>
        </div>
        <div class="col-4">
            <form asp-action="Index" asp-controller="Transaction">
                <button class="btn btn-primary homebtn">
                    <div class="d-flex flex-column justify-content-center p-5" style="color:black">
                        <i class="fa-solid fa-money-bill fa-4x"></i>
                    </div>
                    <h5 style="color:black">Transactions</h5>
                </button>
            </form>
        </div>
        <div class="col-4">
            <form asp-action="Index" asp-controller="Category">
                <button class="btn btn-primary homebtn">
                    <div class="d-flex flex-column justify-content-center p-5" style="color:black">
                        <i class="fa-solid fa-list fa-4x"></i>
                    </div>
                    <h5 style="color:black">Categories</h5>
                </button>
            </form>
        </div>

    </div>

</div>
